
antbm do an/antbm do an/oci.dll
antbm do an/antbm do an/Oracle.DataAccess.dll
antbm do an/antbm do an/oramts.dll
antbm do an/antbm do an/oramts12.dll
antbm do an/antbm do an/oramtsus.dll
antbm do an/antbm do an/orannzsbb12.dll
antbm do an/antbm do an/oraocci12.dll
antbm do an/antbm do an/oraocci12d.dll
antbm do an/antbm do an/oraociei12.dll
antbm do an/antbm do an/oraons.dll
antbm do an/antbm do an/OraOps12.dll
antbm do an/antbm do an/bin/Debug/oci.dll
antbm do an/antbm do an/bin/Debug/oramts.dll
antbm do an/antbm do an/bin/Debug/oramts12.dll
antbm do an/antbm do an/bin/Debug/oramtsus.dll
antbm do an/antbm do an/bin/Debug/orannzsbb12.dll
antbm do an/antbm do an/bin/Debug/oraocci12.dll
antbm do an/antbm do an/bin/Debug/oraocci12d.dll
antbm do an/antbm do an/bin/Debug/oraociei12.dll
antbm do an/antbm do an/bin/Debug/oraons.dll
antbm do an/antbm do an/bin/Debug/OraOps12.dll
